<div class="row">
  <div class="col-xs-12">
    <img [src]="champagne.imagePath" alt="{{champagne.name}}" class="img-responsive" style="max-height: 300px;">
  </div>
</div>
<div class = "row">
  <div class="col-xs-12">
    <h1> {{champagne.name}}</h1>
  </div>
</div>
<div class ="row">
  <div class = "col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button" class="btn btn-primary">
        Add to Shopping Cart
      </button>
    </div>
  </div>
</div>
<br>

<div class="row" >
  <div class="col-xs-12" id="price">
    Price:  {{champagne.price}} <hr>
  </div>
</div>
<div class="row" >
  <div class="col-xs-12" id="desc">
    {{champagne.description}} <hr>
  </div>
</div>
