<nav class = "navbar navbar-default">
  <div class = "container-fluid">
    <div class = "navbar-header">
      <a href="#" class ="navbar-brand" id="top1"> WEBcoholic </a>
    </div>
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/wine"id="top2">Wine</a></li>
      <li routerLinkActive="active"><a routerLink="/champagne"id="top3">Champagne & Sparkling</a></li>
      <li routerLinkActive="active"><a routerLink="/beers"id="top4">Beer & Spirits</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-left">
      <li routerLinkActive="active"> <a routerLink="/about" id = "top5"> About us </a> </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">🛒 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;"> View shopping cart</a></li>
            <li><a style="cursor: pointer;"> Clear selected products</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

