<div class="row">
  <div class="col-md-5-right">
   <h1> Some information about us</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-5-right">
<h4> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque nihil error ratione eaque pariatur ex ipsum incidunt expedita voluptatibus, nam, sed, at ullam delectus? Impedit incidunt ducimus id atque eos? </h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-5-right">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Id tempora libero velit eius voluptate, sequi maxime aliquid dolorem magnam rerum vitae aspernatur alias, qui iure, blanditiis est labore quod ullam.
</div>
